div.header-info
{
font: size 100%;
font-family: Georgia;
color: white;
text-align: top;
background-color: rgba(176, 195, 183, 0.546);
width: 100em;
height: 175px;}
div.photography-line-1
{
        grid-template-columns:auto;
        padding: 20px;
    text-align:center;
    height: 300px
}